* {
  color: white;
}

.box {
  display: flex;
  gap: 20px;
}

.container-grid {
  border: 10px;
  height: auto;
  width: auto;
  border-radius: 25px;
  display: grid;
  grid-column-start: 0;
  grid-column-end: 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 20px 0px 20px 0px;
}

.container {
  border: 10px;
  border-radius: 25px;
  height: 300px;
  width: 300px;
  background-color: #228375;
  padding: 15px;
}

.small-button {
  height: 20px;
  width: 70px;
  background-color: #516474;
}

.log-grid {
  border: 10px;
  background-color: #7794ab;
  border-radius: 25px;
  display: grid;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-template-columns: 400px;
  grid-template-rows: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
}

button {
  height: 50px;
  width: 150px;
  background-color: #1277db;
}

.log-list {
  list-style: none;
}

.container-health {
  background-color: #228375;
  border-radius: 25px;
  height: auto;
  width: 100%;
}

.health-buttons {
  display: flex;
  justify-content: center;
}

.health-items {
  display: grid;
  grid-template-columns: 100px;
  grid-column-start: 0;
  grid-column-end: 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-left: 180px;
}

img {
  height: 100px;
  width: 200px;
  margin-right: auto;
}

.nav-grid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  color: #1277db;
  padding: 50px;
  font-size: larger;
}